<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trả lời đi!</title>
</head>
<body>
    <li>
        <a href="/ask">Hỏi??</a>
    </li>
    <li>
        <a href="/">Dab!!</a>
    </li>
    

    <h1>Câu hỏi của bạn là:</h1>
    <p>Phải hay Trái?</p>
    <form action="/answer" method="POST">
        <button type="submit" class="btn" name="btn-yesno" value="yes">Đúng</button> 
        <button type="submit" class="btn" name="btn-yesno" value="no">Sai</button> 
    </form>
    
</body>
</html>